/**
* General styles
*
*
*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* ie 6/7 */
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro';
	color: white;
}

h2 {
	font-size: 90px;
}

a:link, a:visited, p {
	font-family: 'Course Sans Pro';
	color: #fff;
}

a:hover {
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 5px #fff;
}

/**
* Desktop
*
*
*/

body {
	position: absolute;
	width: 100%;
	height: 100%;
}

section.page {
	width: 100%;
	height: 100%;
}

section#home {
	background-image: url('../images/backgroundpicture.jpg');
	background-size: cover;
	background-position: bottom;
}

#welcome {
	padding-top: 20vh;
	text-align: center;
}

/**
* Typography
*
*
*/

@font-face {
	font-family: Pacifico;
	src: url('../fonts/Pacifico.ttf');
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.ttf');
}

a, .navbar-default .navbar-nav>li>a {
	font-family: 'Source Sans Pro';
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	font-size: 20px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	font-weight: bolder;
}

p {
	font-family: 'Source Sans Pro';
	color: #fff;
}

.slogan {
	margin-bottom: 26px;
	font-family: Pacifico;
}

#welcome-text {
	font-size: 22px;
}

/**
* Navbar
*
*
*/

.navbar {
	border-radius: 0;
}

/* Front page nav */

nav#front-page {
	position: fixed;
	width: 100%;
	background-color: transparent;
	border: none;
	z-index: 10;
}

nav#front-page .container-fluid {
	margin: 0 3%;
	padding: 24px;
	border-bottom: 1px solid rgba(255, 255, 255, .13);
}

/* Login and Sign up nav */

nav#nav-out {
	position: fixed;
	width: 100%;
	height: 76px;
	background-color: #b6323b;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, .13);
	z-index: 10;
}

nav#nav-out .container-fluid {
	margin-top: 16px;
}

.navbar>.container-fluid .navbar-brand {
	margin-left: 0;
	margin-top: 4px;
	padding: 0;
}

ul.navbar-nav {
	float: right;
}

ul.navbar-nav li {
	padding: 0 12px;
}

ul.navbar-nav li a {
	padding: 8px 25px;
}

ul.navbar-nav li a.box-btn {
	border: 2px solid #fff;
	border-radius: 5px;
}

/**
* Icons
*
*
*/

.glyphicon {
	transform: scale(2);
	-webkit-transform: scale(2);
}

section#home .col-md-2 {
	text-align: center;
}

section#home .col-md-2 a:hover {
	color: #fff;
	text-shadow: 0 0 5px #fff;
	cursor: pointer;
}

section#home .col-md-2 span {
	margin-top: 37vh;
}

/**
* Sign up and Login
*
*
*/

section#login-page, section#signup-page {
	background-image: url('../images/login-sign-in-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

form#login-form, form#signup-form {
	margin: 166px auto 0;
	width: 514px;
}

form#login-form h2, form#signup-form h2 {
	margin-bottom: 45px;
	text-align: center;
}

form#login-form input, a.social-media-login, form#signup-form input, a.social-media-signup {
	width: 100%;
	border-radius: 0;
}

input.login-field, input.signup-field {
	padding-left: 80px;
	height: 63px;
	font-family: 'Source Sans Pro';
	font-size: 24px;
	color: #3f3a3a;
	background-color: #fff;
	background-repeat: no-repeat;
}

p#login-email input, p#signup-email input {
	background-image: url('../images/mail-icon.png');
	background-position: 12px 10px;
}

p#login-password input, p#signup-password input {
	background-image: url('../images/lock-icon.png');
	background-position: 15px 8px;
}

input.login-btn, a.social-media-login, input.signup-btn, a.social-media-signup {
	font-family: 'Source Sans Pro';
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

input.login-btn, input.signup-btn {
	margin: 20px 0;
	padding: 0;
	height: 49px;
	font-size: 36px;
	background-color: #ffa200;
	border: none;
}

a.social-media-login, a.social-media-signup {
	display: inline-block;
	height: 67px;
	font-size: 30px;
}

a#fb-login, a#fb-signup {
	background: url('../images/facebook-icon-white.png') no-repeat 13px #384f86;
}

a#t-login, a#t-signup {
	background: url('../images/twitter-icon-white.png') no-repeat 13px #3186c1;
}

a.social-media-login span, a.social-media-signup span {
	position: relative;
	top: 10px;
}
