/**
* General styles
*
*
*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* ie 6/7 */
}

h1, h2, h3, h4, h5, h6, p, a, span, strong, label, textarea, select, input {
	font-family: 'Source Sans Pro';
}

h2 {
	font-size: 90px;
}

p, input, textarea {
	font-size: 18px;
}

p {
	text-align: center;
}

input[type=submit] {
	text-transform: uppercase;
}

input[type=text], input[type=date] {
	height: 51px;
}

textarea, input {
	text-indent: 42px;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

/**
* Desktop
*
*
*/

body {
	position: absolute;
	width: 100%;
	height: 100%;
}

section.page {
	width: 100%;
	height: 100%;
}

section#home {
	background-image: url('../images/backgroundpicture.jpg');
	background-size: cover;
	background-position: bottom;
}

#welcome {
	padding-top: 20vh;
	color: #fff;
	text-align: center;
}

/**
* Typography
*
*
*/

@font-face {
	font-family: Pacifico;
	src: url('../fonts/Pacifico.ttf');
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: 'Source Sans Pro Light';
	src: url('../fonts/SourceSansPro-Light.ttf');
}

a, .navbar-default .navbar-nav>li>a {
	font-family: 'Source Sans Pro';
}
.navbar-brand>img {
    margin-top: -15px;
}
.navbar-default .navbar-nav>li>a {
	font-size: 18px;
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	font-weight: bolder;
	text-decoration:none;
}
.navbar-default .navbar-nav>li>a:active {
	color: white;
}
.slogan {
	margin-bottom: 26px;
	font-family: Pacifico;
	color: #fff;
}

#welcome-text {
	font-size: 22px;
}

/**
* Navbar
*
*
*/

.navbar {
	border-radius: 0;
}

.navbar a:link, .navbar a:visited  {
	color: #fff;
	text-decoration:none;
}

/* Front page nav */

nav#front-page {
	position: fixed;
	width: 100%;
	background-color: transparent;
	border: none;
	z-index: 10;
	margin-top: 15px;
}

nav#front-page .container-fluid {
	margin: 0 3%;
	padding: 3px;
	border-bottom: 1px solid rgba(255, 255, 255, .13);
}

/* Login and sign up nav */

nav#nav-out {
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #b6323b;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, .13);
	z-index: 10;
}

nav#nav-out .container-fluid {
	margin-top: 10px;
}

.navbar>.container-fluid .navbar-brand {
	margin-left: 0;
	margin-top: 4px;
	padding: 0;
}

ul.navbar-nav {
	float: right;
}

ul.navbar-nav li {
	padding: 0 12px;
}

ul.navbar-nav li a {
	padding: 8px 25px;
}

ul.navbar-nav li a.box-btn {
	border: 1px solid #fff;
	border-radius: 3px;
}

ul.navbar-nav a#nav-profile-picture img {
	position: relative;
	top: -14px;
	width: 56px;
	height: auto;
}
/**
* Icons
*
*
*/

.glyphicon {
	transform: scale(2);
	-webkit-transform: scale(2);
}

section#home .col-md-2 {
	text-align: center;
}

section#home a:link, section#home a:visited {
	color: #fff;
}

section#home .col-md-2 a:hover {
	color: #fff;
	cursor: pointer;
}

section#home .col-md-2 span {
	margin-top: 37vh;
}

/**
* Sign up and Login
*
*
*/

section#login-page a, section#signup-page a, section#login-page h2, section#signup-page h2 {
	color: #fff;
}

section#login-page, section#signup-page {
	background-image: url('../images/login-sign-in-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

form#login-form, form#signup-form {
	margin: 166px auto 0;
	width: 400px;
}

form#login-form h2, form#signup-form h2 {
	margin-bottom: 45px;
	text-align: center;
}

form#login-form input, a.social-media-login, form#signup-form input, a.social-media-signup {
	width: 100%;
	border-radius: 0;
}

input.login-field, input.signup-field {
	height: 40px;
	font-family: 'Source Sans Pro';
	font-weight: 100;
	font-size: 16px;
	color: #3f3a3a;
	background-color: #fff;
	background-repeat: no-repeat;	
}

p#login-email input, p#signup-email input {
	background-image: url('../images/mail-icon.png');
	background-position: 6px 5px;
	background-size: 35px 25px;
}

p#login-password input, p#signup-password input {
	background-image: url('../images/lock-icon.png');
	background-position: 7px 4px;
	background-size: 35px 27px;
}

input.login-btn, a.social-media-login, input.signup-btn, a.social-media-signup {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

input.login-btn, input.signup-btn {
	margin: 20px 0;
	height: 40px;
	font-size: 20px;
	background-color: #ffa200;
	border: none;
	text-indent:0px;
}

a.social-media-login, a.social-media-signup {
	display: inline-block;
	height: 40px;
	font-size: 20px;
}

a#fb-login, a#fb-signup {
	background: url('../images/facebook-icon-white.png') no-repeat 13px #384f86;
	background-size: 30px 30px;
}

a#t-login, a#t-signup {
	background: url('../images/twitter-icon-white.png') no-repeat 13px #3186c1;
	background-size: 30px 30px;
}

a.social-media-login span, a.social-media-signup span {
	position: relative;
	top: 10px;
}

/**
* Sign up completion
*
*
*/

section#signup-completion-page {
	background-color: #f3f3f3;
	text-align: center;
	height: auto;
}

form#signup-completion-form {
	margin: 0 auto;
	padding: 104px 0;
	width: 1070px;
}

form#signup-completion-form p {
	color: #000;
}

.page-title {
	margin-bottom: 40px;
	font-size: 48px;
	text-align: center;
}

.role-radio {
	margin-bottom: 40px;
}

/* http://stackoverflow.com/questions/1120879/css-checkbox-input-styling (10/12/2015) */
input[type=radio] {
	margin-right: 16px;
	padding: 0 5px;
	border-radius: 100%;
	-webkit-appearance: button;
	color: #fff;
	width: 35px;
	height: 35px;
	background-color: #d4abac;
	outline: none;
}

input[type=radio]:checked {
	background: url('../images/tick-icon.png') no-repeat 7px #d4abac;
}

form#signup-completion-form #tourist-radio {
	float: right;
}

form#signup-completion-form #traveler-radio {
	float: left;
}

figure#signup-profile-picture {
	margin: auto;
	width: 198px;
	height: 197px;
	border-radius: 7px;
	overflow: hidden;
}

figure#signup-profile-picture img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

label[for=user-picture] {
	margin-top: 24px;
	font-size: 24px;
	font-weight: 100;
	text-align: center;
}

/* http://jsfiddle.net/gabrieleromanato/mxq9R/ (10/12/2015) */
#user-picture-btn {
	margin: 12px auto;
	width: 234px;
	height: auto;
	background: url('../images/choosepicture.png') no-repeat;
<<<<<<< HEAD
=======
	
>>>>>>> origin/master
	
}

#user-picture-upload {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 7px;
	color: #e7e7e7;
	opacity: 0;
	overflow: hidden;
	cursor: pointer;
	margin-right: -600px;
}

#choose-picture {
	padding-top: 34px;
	color:white;
	font-size: 18px;
	opacity: 0.6;
	
}

#nationality-and-description * {
	width: 100%;
	font-size: 24px;
}

#nationality-and-description select {
	height: 51px;
	background: url('../images/flag-icon.png') no-repeat 6px 10px;
	text-align: center;
}

#nationality-and-description textarea {
	background: url('../images/pen-icon.png') no-repeat 6px 10px;
}

#nationality {
	text-align: right;
}
form#signup-completion-form input[type=submit] {
	margin-top: 50px;
	width: 290px;
	height: 51px;
	background-color: #ffa200;
	border: none;
	text-indent:0px;
	color:white;
}

/**
* My Profile
*
*
*/

section#loggedin-user-profile-page {
	padding: 104px 0;
	background-color: #f3f3f3;
	text-align: center;
	height: auto;
}

section#loggedin-user-profile-page .page-title {
	margin-bottom: 40px;
}

figure.profile-picture {
	margin: auto;
	width: 220px;
	height: 220px;
	overflow: hidden;
}

figure.profile-picture img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

section#loggedin-user-profile-page p {
	color: #000;
}

p#user-description {
	margin: 40px auto;
	max-width: 500px;
	font-size: 18px;
	overflow: visible;
}

section#loggedin-user-profile-page div#user-information p {
	font-size: 24px;
}

section#loggedin-user-profile-page a#edit-link {
	margin-top: 50px;
}

/**
* User profile
*
*
*/

section#user-profile-page {
	padding: 104px 0;
	background-color: #f3f3f3;
}

section#user-profile-page div.row:nth-child(2) div.col-md-4:first-child * {
	margin: 10px auto 20px;
	text-align: center;
}

section#user-profile-page h4.user-role {
	text-align: center;
}

section#user-profile-page p#user-description {
	margin-bottom: 20px;
	text-align: center;
}

p#nationality {
	text-align: center;
}

form#contact-form {
	text-align:  center;
}

form#contact-form h3 {
	margin-bottom: 20px; 
	font-size: 30px;
}

form#contact-form input[name=subject] {
	width: 432px;
	background: url('../images/subject-icon.png') no-repeat #b6323b 6px 12px;
}

form#contact-form textarea[name=message] {
	background: url('../images/mail-icon-white.png') no-repeat #b6323b 6px 8px;
}

form#contact-form input[type=submit] {
	border-radius: 7px;
}

/**
* Event page
*
*
*/

section#event-page {
	padding: 104px 0;
	background-color: #f3f3f3;
	height: auto;
}

section#event-page .event-picture {
	max-width: 435px;
	height: auto;
	float: right;
}

section#event-page .event-time, section#event-page .event-place {
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 70px;
	height: 42px;
	font-size: 18px;
	color: #b6323b;
}

section#event-page .event-time {
	background: url('../images/clock-icon.png') no-repeat 12px 0;
}

section#event-page .event-place {
	background: url('../images/map-icon.png') no-repeat 12px 0;
}

section#event-page .local-folks-title {
	margin: 70px 0 50px;
	font-size: 25px;
	text-align: center;
}
#event-text {
	padding-bottom: 50px;
}
.locals {
	text-align: center;
}
section#guide-button {
	padding-top:200px;
}
#guide-button {
	border:1px solid #f69b46;
	color: white;
	background-color:#f69b46;
	margin-left: 60%;
	padding: 15px 50px;
	padding-top: 20px;
	text-decoration:none;
	text-align:center;
	font-weight: 100;
	font-size: 1.2em;
	
}
/**
* Create new event
*
*
*/

section#create-event-page {
	padding: 104px 0;
	background-color: #f3f3f3;
}

form#create-event-form {
	width: 1024px;
	margin: auto;
}

input#create-event-name {
	margin-bottom: 20px;
	width: 100%;

}

form#create-event-form input#date {
	display: block;
	margin: 10px auto 30px;
	width: 367px;
}

div#create-event-picture {
	margin: auto;
	width: 238px;
	height: 51px;
	background: url('../images/event-picture-button.png') no-repeat;
	cursor: pointer;
	overflow: hidden;
}

div#create-event-picture input {
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}

div#privacy {
	text-align: center;
}

form#create-event-form input[type=submit] {
	margin-top: 60px;
}

/**
* Goodbye page
*
*
*/

section#goodbye-page {
	background-image: url('../images/login-sign-in-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

section#goodbye-page p#goodbye {
	margin: 20% auto 0;
	max-width: 1024px;
	font-size: 48px;
	color: #fff;
}

/**
* Create postcard page
*
*
*/

section#create-postcard-page {
	padding: 104px 0;
	background-color: #f3f3f3;	
	height: auto;
}

form#create-postcard-form {
	margin: auto;
	width: 1280px;
}

input#postcard-title {
	margin-bottom: 8px;
	width: 382px;
}

div#postcard-image {
	width: 382px;
	height: 192px;
	border: 1px solid #A9A9A9;
}

div#postcard-image img {
	width: 100%;
	height: 100%;
}

div#pre-image h3, div#choose-postcard-image h3 {
	color: #A9A9A9;
	text-align: center;
}

div#pre-image p img {
	margin: 8px;
	width: 217px;
	height: 137px;
}

textarea.story {
	width: 382px;
	height: 378px;
	
}
.story {
	text-indent:0px;
}
#user-picture-upload {
	height: 50px;
	width: 234px;
	padding-bottom: 0px;
	text-align: center;
}

#user-picture-text {
	position: relative;
	top: 40px;
	color: white;
	font-size: 1em;
}

#create-postcard-form input[type=submit] {
	margin-top: 40px;}
/**
* Postcards page
*
*
*/

section#postcards-page {
	padding: 104px 0;
	background-color: #f3f3f3;
}
.like{
	cursor:pointer;
	    text-align: left;
	}
/**
*
*
*
*/

/**
* Events page
*
*
*/

figure#events-banner img {
	width: 100%;
	height: auto;
}

a.events-links {
	display: block;	
	font-size: 30px;
	text-align: center;
	color: #fff;
	margin-left:-20px;
 	margin-right:-20px;
	margin-top: -2px;
	
}

a#newest-events {
	background-color: #3a3434;
	min-width:100%;
}

a#nearest-events {
	background-color: #b6323b;
}

div#events-list {
	margin-top: 30px;
}

div.events-list-item {
	padding: 8px 30px;
	border-top: 1px solid #313131;
}

div.event-picture {
	overflow:hidden;
}

div.events-list-item img {
	width: 100%;
	height: auto;
}

/*******/

.link-button {
	display: inline-block;
	padding-top: 4px; 
	width: 290px;
	height: 51px;
	font-family: 'Source Sans Pro';
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	border: none;
	text-indent:0px;
}

.yellow-link {
	background-color: #ffa200;
}

.red-link {
	background-color: #b6323b;
}

textarea {
	margin: 10px 0;
	padding: 6px; 
	width: 432px;
	height: 276px;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}