#login-page {
	height: 100%;
	background-image: url('images/login_bg.jpg');
}

#login-email input{
	background: url('images/icon_mail.png') no-repeat scroll;
}

#login-password input {
	background: url('images/icon_lock.png') no-repeat;
}

#login-email input, #login-password input {
	padding-left: 48px;
}

/**
* General styles
*
*
*/

a:link, a:visited, p {
	font-family: 'Course Sans Pro';
	color: #fff;
}

a:hover {
	color: #fff;
	text-shadow: 0 0 5px #fff;
}

/**
* Desktop
*
*
*/

body {
	position: absolute;
	width: 100%;
	height: 100%;
}

section.page {
	width: 100%;
	height: 100%;
}

section#home {
	background-image: url('../images/backgroundpicture.jpg');
	background-size: cover;
	background-position: bottom;
}

#welcome {
	padding-top: 20vh;
	text-align: center;
}

/**
* Typography
*
*
*/

@font-face {
	font-family: Pacifico;
	src: url('../fonts/Pacifico.ttf');
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.ttf');
}

a, .navbar-default .navbar-nav>li>a {
	font-family: 'Source Sans Pro';
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	font-size: 20px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	font-weight: bolder;
}

p {
	font-family: 'Source Sans Pro';
	color: #fff;
}

.slogan {
	margin-bottom: 26px;
	font-family: Pacifico;
	font-size: 90px;
	color: #fff;
}

#welcome-text {
	font-size: 22px;
}



/**
* Navbar
*
*
*/

nav.navbar-default {
	position: fixed;
	width: 100%;
	background-color: transparent;
	border: none;
	z-index: 10;
}

nav.navbar .container-fluid {
	margin: 0 3%;
	padding: 24px;
	border-bottom: 1px solid rgba(255, 255, 255, .13);
}

ul.navbar-nav {
	float: right;
}

ul.navbar-nav li {
	padding: 0 12px;
}

ul.navbar-nav li a {
	padding: 8px 25px;
}

ul.navbar-nav li a.box-btn {
	border: 2px solid #fff;
	border-radius: 5px;
}

/**
* Icons
*
*
*/

.glyphicon {
	transform: scale(2);
	-webkit-transform: scale(2);
}

section#home .col-md-2 {
	text-align: center;
}

section#home .col-md-2 a:hover {
	color: #fff;
	text-shadow: 0 0 5px #fff;
	cursor: pointer;
}

section#home .col-md-2 span {
	margin-top: 37vh;
}